@charset "utf-8";
@import url("detail.css");


.equipment_details dl {
	border: 1px solid #D2D1CF;
}

.equipment_details dt,.equipment_details dd {
	padding: 10px;
	border-top: 1px solid #FDFBFA;
	border-bottom: 1px solid #D3D0D0;
}

.equipment_details dt {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	float: left;
	width: 10em;
	text-align: right;
	background-color: #EEEAE9;
	border-right: 1px solid #D3D0D0;
	-webkit-align-items: center;
	-ms-align-items:center;
	align-items: center;
	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}

.equipment_details dd {
	margin-left: 11.4em;
}

.equipment_details dl.setsubi_icon {
	border: none;
}
.equipment_details dl.setsubi_icon dd {
	margin: 0px;
	padding: 0px;
	border: none;
}

#main #main_a .fa_content_10 ul {
	margin: 0px 0px 0px 20px;
	padding: 0px;
	margin: 0;
}

#main #main_a .fa_content_10 ul li {
	float: left;
	margin-left: 30px;
}

.rate_sheet {
	margin-bottom: 1em;
}

#main #main_a .rate_sheet table {
	border-color: #D2D1CF;
	border-width: 0px;
}

#main #main_a .rate_sheet th {
	background-color: #EEEAE9;
}

#main #main_a .rate_sheet th,#main #main_a .rate_sheet td {
	padding: 15px 10px;
}

.rate_sheet th:nth-of-type(1),.rate_sheet td:nth-of-type(1) {
	width: 12%;
}

.rate_sheet th:nth-of-type(2),.rate_sheet td:nth-of-type(2) {
	width: 12%;
}

.rate_sheet th:nth-of-type(3),.rate_sheet td:nth-of-type(3)  {
	width: 40%;
}

.rate_sheet th:nth-of-type(4),.rate_sheet td:nth-of-type(4) {
	width: 12%;
}

.rate_sheet th:nth-of-type(5),.rate_sheet td:nth-of-type(5) {
	width: 12%;
}

.rate_sheet th:nth-of-type(6),.rate_sheet td:nth-of-type(6) {
	width: 12%;
}

.rate_sheet td:nth-of-type(1) {
	text-align: center;
}

.rate_sheet td:nth-of-type(4) {
	text-align: left;
}

.rate_sheet td:nth-of-type(5), .rate_sheet td:nth-of-type(6) {
	text-align: right;
}

dt.fa_item_14, dd.fa_content_14 {
	border-bottom: none;
}

.equipment_details .note {
	font-size: 100%;
	color: #000000;
}

.equipment_details .note p {
	margin: 0px 0px 10px 0px;
}

.equipment_details .photo {
	padding: 10px;
	text-align: center;
	background-color: #EEEAE9;
}

#main #main_a #main_body div[class*="detail"] img {
	max-width: 100%;
	max-height: 360px;
	height: auto !important;
}

.setsubi_icon img[alt=該当なし] {
	display: none;
}

.equipment_details .photo p {
	margin: 0px;
}

#main #main_a .equipment_details .guidance ul {
	margin: 20px;
	padding: 0px;
}

#main #main_a .equipment_details .guidance ul li {
	padding-bottom: 5px;
}

#side_menu {
	border: 1px solid #D2D1CF;
	margin-bottom: 15px;
}

#side_menu_title {
	padding: 1em 0px;
	border-bottom: 1px solid #D2D1CF;
	background-color: #EEEAE9;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
}

#side_menu ul {
	list-style: none;
	padding: 15px;
}

#side_menu li {
	margin-bottom: 5px;
}

#side_menu li span {
	letter-spacing: 4px;
}




/* 検索一覧 */

.result-setsubi #main_a {
	margin: 0px;
	padding-right: 0px;
}

#main #main_a #result_support ul#result_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#result_list li.result_item {
	padding: 15px 0px;
	border-bottom: 1px dashed #CCCCCC;
}

#result_list li.result_item:first-child {
	border-top: 1px dashed #CCCCCC;
}

.result_item_img {
	float: left;
	width: 160px;
	height: 120px;
	margin-right: -160px;
	padding: 10px;
	text-align: center;
	background-color: #EEEAEA;
	box-sizing: border-box;
}

.result_item_img img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.result_item_detail_wrap {
	float: left;
	width: 920px;
	margin: 0px;
	margin-left: 160px;
	padding-left: 20px;
	box-sizing: border-box;
}

.result_item_detail_wrap dl {
	margin: 0px 0px 1em 0px;
}

#main_body h2.result_item_name {
	margin: 0px;
	margin-right: 120px;
	padding: 20px 0px;
	background: none;
	border: none;
	font-size: 100%;
}

.result_item_detail_wrap dt, .result_item_detail_wrap dd {
	float: left;
}

.result_item_box {
	position: relative;
	width: auto;
}

dt.result_item_place {
	margin-right: -5em;
}

dd.result_item_place {
	margin-left: 5em;
	margin-right: 8px;
}

dt.result_item_group {
	margin-right: -5em;
}

dd.result_item_group {
	margin-left: 1em;
}

dt.result_item_youto {
	margin-right: -3em;
}

dd.result_item_youto {
	margin-left: 3em;
}

.result_item_detail_wrap dl dt:after {
	content: ":";
	display: inline-block;
	width: 3px;
	padding: 0px 4px;
}

.result_item_riyou {
	position: absolute;
	right: 0;
	top: 0;
	width: 110px;
	height: 50px;
}

#result_page_next, #result_page_back, #result_page_list {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 3px;
}

#result_page_next a, #result_page_back a {
	display: block;
	padding: 2px 5px;
	background-color: #EEEAEA;
	border: 1px solid #999999;
	border-radius: 5px;
}

#result_page {
	margin: 7px 0px;
}

.result_page {
	padding: 0px 2px;
}