@charset "utf-8";

/* float clear */
.cf:before,
.cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom: 1;
}

body {
	margin: 0;
	padding: 0;
	border: 0; /* 旧IE対応 */
	text-align: center;
	min-width: 1080px; /* 可変ブラウザの最小 */
	background: #FFFFFF;
}
#container {
	width: auto;
	height: auto;
	text-align: left;
	margin: 0 auto;
	padding: 0;
/*	float: left;*/
}

/* リンク色を隠す */
.img_b {
	vertical-align: top;
	border: none;
}

/* 隠す */
.hide {
	position: absolute;
	left: -100em;
	top: -100em;
}

/* ヘッダーココから */
#header {
	clear: both;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}
#header2 {
	clear: left;
	position: relative;
	width: 1080px;
	height: 155px;
	margin: 0 auto;
	padding: 0;
}
#he_left {
	position: absolute;
	z-index: 10;
	top: 53px;
	left: 0px;
	width: 528px;
	height: 81px;
}
#he_left #logo {
	margin: 0px;
}
#he_left p {
	margin: 0;
	padding: 0;
}
#he_left .header_nav1 { }
#he_left .header_nav2 { }
#he_left .header_nav1 ul, #he_left .header_nav2 ul { }
#he_left .header_nav1 li.gyou2, #he_left .header_nav2 li.gyou2 { }
#he_left .header_nav1 li.gyou_end, #he_left .header_nav2 li.gyou_end { }
.header_nav li.gyou2 { }
.header_nav li.gyou3 { }
.header_nav li.gyou3_2 { }
.header_nav li.gyou_end { }
#he_right {
	position: relative;
	text-align: right;
	height: 110px;
}
#he_right_a {
/*	position: absolute;
	right: 0;
	top: 4px;*/
}
.header_nav,.header_nav2 {
	margin: 0;
	padding: 2px 0;
}
.header_nav ul,.header_nav2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.header_nav2 ul {
	margin-top: 18px;
}
.header_nav ul#header_nav_left {
	position: absolute;
	top: 20px;
	left: 100px;
}
.header_nav #header_nav_left li {
	margin-right: 13px;
	padding-right: 13px;
	border-right: 1px solid #CCCCCC;
}
.header_nav ul#header_nav_right {
	margin-top: 18px;
}
.header_nav li,.header_nav2 li {
	display: inline-block;
	margin: 0 0 0 1px;
	padding: 0;
}
.header_nav li#haikei_color span a {
	display: inline-block;
	width: 27px;
	height: 27px;
	margin-right: 2px;
	background-repeat: no-repeat;
	background-position: center center;
}
.header_nav li#haikei_color span a#haikei_white {
	background-image: url(/img/haikei_white.png);
}
.header_nav li#haikei_color span a#haikei_black {
	background-image: url(/img/haikei_black.png);
}
.header_nav li#haikei_color span a#haikei_blue {
	background-image: url(/img/haikei_blue.png);
}
.header_nav li#moji_size {
	margin-left: 10px;
}
.header_nav li#moji_size span {
	position: relative;
	display: inline-block;
	width: 96px;
	height: 27px;
}
.header_nav li#moji_size span a {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -14px;
	width: 47px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center center;
}
.header_nav li#moji_size span a#moji_default {
	right: 0;
	background-image: url(/img/moji_default.png);
}
.header_nav li#moji_size span a#moji_large {
	left: 0;
	background-image: url(/img/moji_large.png);
}
/* ヘッダーココまで */

/*フッター*/
#footer {
/*	float: left;*/
	position: relative;
	clear: both;
	width: auto;
	height: auto;
	margin: 0px;
	padding: 30px 0px;
	background: #17479D;
	color: #FFFFFF;
}
#footer_link {
	width: 1080px;
	margin: 0 auto;
	padding-bottom: 20px;
}
.footer_link_box {
	position: relative;
	float: left;
	width: 175px;
	padding: 0px 20px;
	border-right: 1px solid #456CB1;
}
.footer_link_box:first-child {
	width: 174px;
	border-left: 1px solid #456CB1;
}
.footer_link_box h2 {
	margin-top: 0px;
}
.footer_link_box ul {
	padding: 0px;
	padding-left: 2px;
	list-style: none;
}
.footer_link_box_in_last ul {
	position: absolute;
	bottom: 0;
}
.footer_link_box li {
	padding-left: 13px;
	line-height: 1.5em;
	background: url(/img/icon_arrow_white.png) no-repeat left center;

}
.footer_link_box_in_last li {
	padding: 0px;
	background: none;
}
.footer_navi {
	width: 1080px;
	margin: 0px auto;
	padding: 0px;
	text-align: right;
}
.footer_navi ul {
	margin: 0px;
	padding: 5px 0px;
}
.footer_navi li {
	display: inline-block;
	margin: 0px;
	padding: 8px 16px;
	list-style-type: none;
	border-left: 1px solid #456CB1;
}
.footer_navi li:first-child {
	border: none;
}
.footer_navi li.navi_end { }

#author_img {
	position: relative;
	z-index: 100;
	margin-top: -14px;
	float: right;
	width: 160px;
}
#author_img img {
	padding: 0 0 0 0;
	margin: 0 0 0 5px;
}
#author_info {
	clear: both;
	width: 1080px;
	height: auto;
	margin: 0 auto;
	padding-bottom: 10px;
}
#author_box {
	position: relative;
	width: 50%;
	margin: 0;
	padding: 0;
	padding-top: 6px;
	line-height: 1.75em;
}
#author_box ul#footer_shisyo {
	position: absolute;
	top: 0;
	left: 300px;
	margin: 0;
	padding: 6px;
	list-style: none;
}
#author_box ul#footer_shisyo li {
	display: inline-block;
	width: 110px;
	height: 30px;
}
#author_box p {
	padding: 0;
	margin: 0;
}
#copyright {
	float: right;
	font-size: 80%;
	margin: 0;
	margin-top: -40px;
	padding: 1em 0px;
	text-align: left;
}
/*フッターここまで*/

a:link {
	text-decoration: underline;
	color: #0033CC;
}
a:visited {
	text-decoration: underline;
	color: #551A8B;
}
a:active {
	text-decoration: underline;
	color: #CC0000;
}
a:hover {
	text-decoration: underline;
	color: #FF4500;
}

/* 3カラム */
#mymainback {
	clear: both;
	width: 1080px;
	height: auto;
/*	float: left;*/
	float: none;
	margin: 0 auto;
	padding: 0;
	line-height: 120%;
}
#sidebar1 {
/*	width: 184px;*/
	width: 300px;
	padding-bottom: 2em;
	float: left;
	margin-top: 0;
/*	margin-right: -184px;*/
	margin-right: -300px;
	position: relative;
	z-index: 3;
}
.sidebar1_box {
	width: 298px;
/*	float: left;*/
	border: 1px solid #D2D3C5;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
#sidebar1 h2 {
	clear: both;
	font-size: 110%;
	margin: 0;
	padding: 12px;
}
#sidebar1 .soshiki_back {
	padding: 0;
	width: 100%;
}
#main {
	width: 100%;
	float: left;
	text-align: left;
	margin-top: 0;
	margin-right: -205px;
	padding: 0;
	position: relative;
	z-index: 1;
}
#main_a {
	margin-right: 320px;
	margin-left: 320px;
	padding: 0 30px 0 30px;
	z-index: 2;
}
#sidebar2 {
	width: 300px;
	float: left;
	position: relative;
	z-index: 3;
	margin: 0 -300px 0 0;
	padding: 0 0 2em;
}
#sidebar2 p {
	margin: 0;
	padding: 2px;
}
#sidebar2_top, #sidebar2_bottom img {
	display: none;
}
/* トップページ、詳細ページ（ここまで） */

/* パンくずナビここから */
#pankuzu_wrap {
	margin: 15px 0px;
}
.pankuzu {
	clear: both;
	font-size: 90%;
	padding: 0.8em 0 0.8em 80px;
	margin: 2px;
	text-align: left;
	background: none;
}
.pankuzu:first-child {
	background: url(/img/pankuzu.png) no-repeat left center;
}
/* パンくずナビここまで */

/* 印刷用アイコン */
#content_header {
	margin: 8px 0;
}
#print_mode_link {
	width: 12em;
	text-align: right;
	margin: 0 0 0 0;
	padding: 0 0 0 22px;
	background: url(/img/print-icon.jpg) no-repeat left center;
	height: 1em;
}
#main #main_a #lifestage {
	margin: 0;
	padding: 0;
	text-align: center;
}
#main #main_a #lifestage h2 {
	text-align: left;
}
#main #main_a #lifestage ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#main #main_a #lifestage ul li {
	display: inline-block;
	width: 120px;
	height: 90px;
	background: url(/img/lifestage/lifestage_bg.png) repeat-x left top #ffffff;
	border: 1px solid #cccccc;
	border-left: none;
}
#main #main_a #lifestage ul li:first-child {
	border-left: 1px solid #cccccc;
}
#main #main_a #lifestage ul li:hover {
	background-position: left bottom;
}



/* 本文リンクを表示させる */
#goto_main {
	display: block;
	position: fixed;
	width: 20em;
	height: 2em;
	white-space: nowrap;
	text-align: center;
	left: 50%;
	height:0em;
	overflow:hidden;
	margin-left: -600px;
	line-height: 2em;
	background: #eeeeee;
	border-radius: 0 0 10px 10px;

	transition: margin-top 0.1s ease;
	z-index: 100;
}
a#skip{
	display: block;
	height: 0px;
	text-align: left;
	text-indent: -9999em;
	overflow: hidden;
}

/* googlemap */
.gglmap {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
 
.gglmap iframe,
.gglmap object,
.gglmap embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* レコメンド機能 */
#mymainback #recommend_tag {
	margin-bottom: 20px;
}
#mymainback #recommend_box {}
#mymainback #recommend_title h2 {
	margin: 0px;
	padding: 0px;
	border: none;
	background: transparent;
}
#mymainback #recommend_title h2 img {
	height: 60px;
	background-color: #FFFFFF;
}
#mymainback #recommend_box ul{
	margin: 0px;
	padding: 10px;
	border: 1px solid #CCCCCC;
	list-style: none;
}
#mymainback #recommend_box ul li{
	margin-left: 17px;
	padding: 5px;
	list-style-image: url(/img/icon_triangle_red.png);
}