@charset "utf-8";
#main_body {
	clear: both;
	width: 100%;
	line-height: 140%;
}

#main #main_a #main_header {
	width: 100%;
	padding: 0px;
	margin-bottom: 10px;
}

#main #main_a h1 {
	margin: 0px;
	padding: 0.6em 1em 0.6em 43px;
	font-size: 165%;
	font-weight: bold;
	line-height: 1.4em;
	background: url(/img/midashi/h1bg.gif) no-repeat left center #17479D;
	color: #FFFFFF;
}

#main_body h2 {
	clear: both;
	font-size: 125%;
	margin-bottom: 0.3em;
	padding: 0.9em 1em 0.9em 43px;
	background: url(/img/midashi/h2bg.gif) no-repeat left center #EEEAEA;
	border-bottom: 2px solid #EE4029;
}

#main_body h3 {
	clear: both;
	font-size: 120%;
	padding: 0.6em 1em 0.6em 43px;
	background: url(/img/midashi/h3bg.gif) no-repeat left center;
	border-bottom: 2px solid #17479D;
}

#main_body h4 {
	clear: both;
	font-size: 100%;
	margin: 0px 0px 10px 0px;
	padding: 0.4em 1em 0.4em 43px;
	background: url(/img/midashi/h4bg.gif) no-repeat left center;
	border-bottom: 1px solid #003592;
}

#main_body h5 {
	clear: both;
	font-size: 90%;
	margin: 0px 0px 10px 0px;
	padding: 0.4em 1em 0.4em 43px;
	background: url(/img/midashi/h5bg.gif) no-repeat left center;
}

#main_body h6 {
	clear: both;
	font-size: 90%;
	margin: 0px 0px 10px 0px;
	padding: 0.5em 1em 0.5em 43px;
	background: transparent;
}

#main #main_a ul {
	margin: 10px 20px 10px 20px;
}

#main #main_a ol {
	margin: 10px 20px 10px 20px;
}

#main #main_a #ddd {
	margin: 10px 20px 10px 20px;
}

#main #main_a #eee {
	margin: 10px 20px 10px 20px;
}