@charset "utf-8";
/* 定型テンプレート（1～3）ボディ部 */
#detail_teikei{
	margin:10px 0px 0px 0.5em;
	padding:0;
	width:100%;
}

/* 定型テンプレート（1～3）段組なしの段落 */
#detail_teikei p{
	margin:10px 0px 10px 3px;
}

/* 定型テンプレート（1～3）表 */
#detail_teikei table{
	margin:10px 0px 10px 3px;
}

/* 定型テンプレート（2）画像：右寄せ */
#detail_teikei p.imgright img{
	float:right;
}

/* 定型テンプレート（3）画像：左寄せ(並べる) */
#detail_teikei p.imgleft img{
	float:left;
	margin-right:10px;
}