@charset "utf-8";
@import url("/ssi/css/sp-detail.css");
#main_body{
	width:auto;
}
.book_day{
	margin:0px;
	text-align:right;
}
.book_box{
	display: block;
	width: auto;
	float: none;
	margin: 0px 0px 10px;
}
#main #main_a .book_box h3 a{
	margin: 0px;
	padding: 0px;
}
#book_none{
	padding: 1em;
}