@charset "utf-8";
#top_search {
	position: static;
	display: none; /* アコーディオンのため初期非表示 */
	float:none;
	padding-bottom: 5px;
	width: 100%;
	min-width:320px;
	height:auto;
	background:none;
	padding: 0px;
}

#top_search_a, #top_search_b {
	position: static;
	text-align:center;
	float:none;
	width: 100%;
	height:auto;
	margin:0px;
	padding:0px;
	background:#ffffff;
}

#top_search_a ul, #top_search_b ul{
	position: static;
	display: block;
	float: none;
	padding: 0px;
	margin: 0px auto;
	height:auto;
	width: auto;
	background: none;
	/*border-top: 1px solid #CCCCCC;*/
}

#top_search_a ul li, #top_search_b ul li {
	display: inline-block;
	float: none;
	width: auto;
	height: auto;
	margin: 0px;
	padding: 0px;
	background: none;
	border: none;
	border: 1px solid #CCCCCC;
}
#top_search_a ul li ul {
	display: none;
}
#top_search_a ul li:first-child, #top_search_b ul li:first-child{
	/*border-top: 1px solid #ccc;*/
}
#top_search_a ul li span, #top_search_b ul li span{
	display: block;
}

#top_search_a ul li:hover img, #top_search_b ul li:hover img{
	width: auto;
	height: auto;
	visibility: visible;
}
#top_search_a li#header_twitter{}
#top_search_a li#header_twitter img{}

#top_search_a ul li a, #top_search_b ul li a {
	display: block;
	float: none;
	min-height:1em;
	width: auto !important;
	height: auto;
	margin: 0px;
	padding: 0px;
	overflow: visible;
	vertical-align: middle;
	text-align: left;
	text-indent: 0;
	font-size: 1.6rem;
	font-weight: bold;
	white-space: normal;
	text-decoration:none;
	color: #333;
	/*background: url(/img/sp/arrow_r.png) no-repeat 97% center !important;*/
	background: none !important;
	background-size: 9px 14px !important;
}
/*
#top_search_a li:nth-child(even) a, #top_search_b li:nth-child(even) a{
	border-right: 1px solid rgba(255,255,255,0.5);
}

#top_search_a li:nth-child(odd) a, #top_search_b li:nth-child(odd) a{
	border-left: 1px solid rgba(0,0,0,0.5);
}
*/
#top_search_a ul li a:hover, #top_search_b ul li a:hover{
	float: none;
	width: auto;
	background: none !important;
}
li#page_now0_on a, li#page_now1_on a, li#page_now2_on a, li#page_now3_on a, #top_search_a li a:hover{}

#tamatan_link{
	position: absolute;
	z-index: 10;
	top: 10px;
	right: 10px;
	width: 121px;
	height: 80px;
	background: url(/img/sp/sp-header-tamatan.png) no-repeat left top transparent;
	background-size: 121px 80px;
	font-size: 0px;
	color: transparent;
}

#search_keyword{
	float: none;
	width: auto;
	height: auto;
	padding: 12px;
	background: #F0EEEF;
}
#search_keyword .search_filetype{
	width: auto;
	background: none;
}

#top_search_keyword {
	display:block;
	position: static;
	clear: both;
	float: none;
	width: auto;
	height:auto;
	margin:0px auto;
	padding:3px 0px;
	text-align: center;
}
#top_search_keyword a{
	display: none;
}
#cse-search-box {
	width:auto;
	text-align:left;
	display:block;
	background: none transparent;
}
#cse-search-box .select_sub input[type="radio"], #cse-search-box .select_sub input[type="radio"]+label{
	display: none;
}

#cse-search-box label[for="tmp_query"]{
	display: none;
}


#search_box_input_select{
	display: none;
}
#search_box_inputarea_wrap{
	background: none;
	float: none;
}
#search_box_inputarea{
	border: none;
}
#search_box_input_text{
	background: none;
}

#submit{
	width: 70px;
	height: 30px;
	vertical-align: top;
	margin: 0px;
	margin-left: -6px;
	position:static;
}

#tmp_query{
	height: 28px !important;
	vertical-align: top;
	width: 160px;
	padding: 0px 10px !important;
	background-position: center;
	position:static;
	margin:0px 0px 0px 5px;
	border-width: 1px !important;
}

#he_right_a{
	margin:0px;
	background:no-repeat;
}


/*@media screen and (min-width: 481px) {
	#tmp_query {
		width:80%;
	}
}
*/

@media only screen and (orientation : landscape){
	#tmp_query{
		width: 70%;
	}
}