@charset "utf-8";
@import url("/ssi/css/sp-common.css");
@import url("/ssi/css/sp-layout.css");
@import url("/ssi/css/sp-parts-general.css");
@import url("/ssi/css/sp-general2.css");
@import url("/ssi/css/sp-parts.css");
@import url("/ssi/css/sp-kanren.css");
@import url("/ssi/css/sp-g-navi.css");

#main_a table th,
#main_a table td{
	width: auto !important;
}
#main_a label{
	display: inline-block;
	padding:5px;
	margin: 0 10px 5px 0;
}

#main_a input, #main_a textarea{
	max-width: 60%;
}
#main_body > form > p{
	padding: 0.5em;
	line-height: 1.5em;
}