@charset "utf-8";
@import url("/ssi/css/sp-site.css");

/* グローバルナビ */
#top_search_a ul li {
	vertical-align: top;
	border: 1px solid #cccccc !important;
}
#top_search_a ul li a {
	width: 154px !important;
	height: 4em;
	padding: 22px 0px 0px 0px;
	text-align: center;
}
#top_search_a ul li a.current {
	color: #e83217;
}
#top_search_a ul li a.current:after {
	display: none;
}

/* ロゴ */
#mainimg_tiri {
	width: auto;
	height: auto;
	margin: 30px 10px;
	display: block;
}
#mainimg_tiri img {
	max-width: 100%;
	height: auto !important;
}
.tiri_nav {
	margin-top: 10px;
	text-align: center;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}
.tiri_nav > a {
	display: block;
	width: 50% !important;
	padding: 10px 0px;
	box-sizing: border-box;
}

/* 新着情報 */
.list_type_a_list .list_ccc {
	display: block !important;
}
#main #main_a .list_ccc li, #main #main_a #main_body .list_ccc li {
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
	box-sizing: border-box;
}
div.list_pack {
	display: table;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
div.list_pack > span {
	display: table-cell;
	vertical-align: middle;
}
div.list_pack > span.span_d {
	width: 150px;
	height: 105px;
}
div.list_pack > span.span_d img {
	height: 105px;
}
.link_box {
	border-top: 1px dotted #999999;
}

/* 見出し */
#main #main_a h1 {
	background: none;
	border: none;
	border-top: 4px double #085aa4;
	border-bottom: 4px double #085aa4;
}
#main_body h2 {
	background: none;
	border: none;
	border-bottom: 3px dotted #085aa4;
}